.login
{
    width: 300px;
    height: 280px;
    background: var(--bg-sy);
    text-align: center;
    margin: 30px auto;
    border-radius: 20px;
    line-height: 2;

}
.login h2
{
    color: var(--bg-py);
    text-decoration: none;
}
.login input 
{
    width: 90%;
    height: 35px;
    margin-top: 12px;
    padding-left: 12px;
    border:  none;
    border-radius: 20px;
}
.login input:hover
{
    cursor: pointer;
}
.login button
{
    width: 90%;
    height: 35px;
    border: none;
    background: #7000ff;
    color: white;
    margin-top: 12px;
    border-radius: 20px;
    font-size: 18px;
}
.login button:hover
{
    cursor: pointer;
}
.login a
{   
    color: #017DFD;
}
.login a:hover
{
    text-decoration: underline;
}